.sidebar{
    height:100vh;
    z-index:20;
    opacity: 1;
    width:0px;
    background-color: white;
    border-right: solid 0.2px grey;
    position: absolute;
    display: none;
    .lang-header{
        font-size: 12px;
        font-style: italic;
        font-weight: bold;
    }
    .lang-list{
        padding: 9px 0px 0px 0px;
        .lang-item{
            border:solid 0.5px grey;
            font-size: 10px;
            text-align: center;
            padding: 2px 2px 2px 5px;
        }
        .selected{
            font-weight: bold;
        }
    }
    animation:header-close 500ms
}

.open{
    animation: header-open 500ms;
    width:100px;
    display: block;
}

@keyframes header-open{
    from{
        width:0px
    }
    to{
        width:100px
    }
}

@keyframes header-close{
    from{
        width:100px
    }
    to{
        width:0px
    }
}

.sidebar-wrapper{
    width:100vw;
    height:100vh;
    opacity: 0px;
}